<div class="container">
  <h1><%=current_user.username%>'s game! with deck <%=current_deck.name%></h1>
  <br>
  <h4>Answer the question to the best of your ability</h4>

  <p><%= @current_card.question %></p>
  <br><br>
  
  <form method="post" action="/answer_card" > 
    <% @answer_array.each do |answer| %>
      <input type="radio" name="post[answer]" value="<%=answer%>"> <%=answer.capitalize%><br>
    <% end %>

    <input name="post[round_id]" type="hidden" value=<%=@round.id%>>
    <input name="post[card_id]" type="hidden" value=<%=@current_card.id%>> 
    <input name="post[counter]" type="hidden" value=<%=@counter %>> 
   

<br><br><br>
    <input type="submit" value="guess">  
  </form>
<br><br><br>

<% if @guess %>
  
  <h3>The correct answer to the last question was: <%= @messengerx %> </h3>

<% end %>

</div> 

